<div class="login-page">
    <div class="form">
        <!-- <form class="register-form">
        <input type="text" placeholder="name"/>
        <input type="password" placeholder="password"/>
        <input type="text" placeholder="email address"/>
        <button>create</button>
        <p class="message">Already registered? <a href="#">Sign In</a></p>
      </form> -->
        <p class="text-danger" *ngIf="isError">Invalid Credentials</p>
        <form class="login-form" name="signInForm" #signInForm="ngForm">
            <input type="tel" (keypress)="keyPress($event)" max=10 name="phone_number"
                placeholder="phone number" [(ngModel)]="credentials.phone_number" />
            <input type="password" placeholder="password" name="password" [(ngModel)]="credentials.password" />
            <button type="submit" (click)="login()" [disabled]="signInForm.control.get('phone_number') && signInForm.control.get('phone_number').invalid">login</button>
            <p class="message">Not registered? <a routerLink="register">Create an account</a></p>
        </form>
    </div>
</div>