<div class="d-flex w-100 flex-column card">
  <div class="d-flex card-header font-weight-bold p-0 m-0 p-1">
    <span *ngIf="store.state.currentRoom">Direct Chat with +91 {{
      (store.state.currentRoom.created_by === store.currentUser.phone_number)   
      ? store.state.currentRoom.receiver : store.state.currentRoom.created_by 
    }}</span>
    <span *ngIf="!store.state.currentRoom">Choose your friend to chat</span>
  </div>
  <div class="card-body p-0 p-1 d-flex flex-column" style="height: 300px;">
    <div style="max-height: 295px;overflow-y: auto;">
      <app-messages [message]="message" [currentUserId]="store.currentUser.phone_number"
        *ngFor="let message of store.state.messages"></app-messages>
    </div>
  </div>
  <div class="card-footer">
    <form name="messageForm" class="d-flex flex-row w-100" #messageForm="ngForm" (submit)="onMessage(messageForm)">
      <input type="text" required class="form-control" placeholder="Enter your message" name="message" 
      [(ngModel)]="message" [disabled]="(!store.state.currentRoom) || (store && store.state && store.state.currentRoom && (!store.state.currentRoom.created_by ||  !store.state.currentRoom.receiver))">
      <button class="btn btn-primary ml-2" type="submit" [disabled]="messageForm.invalid">Send</button>
    </form>
  </div>
</div>