<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse d-flex w-100" id="navbarTogglerDemo01">
    <span class="nav-link cursor-pointer" routerLink="/">ChatsApp</span>
    <div class="navbar-nav d-flex justify-content-end mt-2 mt-lg-0 w-100">
      <div class="d-flex justify-content-end">
        <a *ngIf="auth.isLoggedIn()" class="cursor-pointer mr-2">{{ auth.getUserDetails()?.phone_number }}</a>
        <a *ngIf="auth.isLoggedIn()" class="cursor-pointer" (click)="auth.logout()">Logout</a>
      </div>
    </div>
  </div>
</nav>
<div class="mt-2">
  <router-outlet></router-outlet>
</div>