<div class="login-page">
    <div class="form">
        <form class="login-form" name="signUpForm" #signUpForm="ngForm" (submit)="register()">
            <input type="tel" (keypress)="keyPress($event)" max="10" name="phone_number"
                placeholder="phone number" [(ngModel)]="credentials.phone_number" />
            <input type="password" placeholder="password" name="password" [(ngModel)]="credentials.password" />
            <button type="submit">create</button>
            <p class="message">Already registered? <a routerLink="login">Sign In</a></p>
        </form>
    </div>
</div>